In [10]:
#Dependencies
import csv
import os
import pandas as pd
import numpy as np
import requests
import datetime
from datetime import datetime
import requests
import io
import urllib

In [11]:
#Create the path
ccl_file = "ccl.csv"

In [12]:
#Read the csv data
ccl_data = pd.read_csv(ccl_file)
ccl_data.head()

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID
0,C00713602,2019,2020,C00712851,X,U,228963
1,H0AK00105,2020,2020,C00607515,H,P,229250
2,H0AL01055,2020,2020,C00697789,H,P,226125
3,H0AL01063,2020,2020,C00701557,H,P,227053
4,H0AL01071,2020,2020,C00701409,H,P,227054

In [28]:
#ccl_data = ccl_file.dropna(how="any")
#ccl_data.count()

In [13]:
#Describe the table
ccl_data.describe()

       CAND_ELECTION_YR  FEC_ELECTION_YR     LINKAGE_ID
count       5383.000000           5383.0    5383.000000
mean        2018.853613           2020.0  225492.049043
std           12.639887              0.0    2474.716158
min         1984.000000           2020.0  222106.000000
25%         2018.000000           2020.0  223481.500000
50%         2020.000000           2020.0  224855.000000
75%         2020.000000           2020.0  227572.500000
max         2916.000000           2020.0  230658.000000

In [14]:
#Fetch all the table columns
ccl_data.columns

Index(['CAND_ID', 'CAND_ELECTION_YR', 'FEC_ELECTION_YR', 'CMTE_ID', 'CMTE_TP',
       'CMTE_DSGN', 'LINKAGE_ID'],
      dtype='object')

In [24]:
#Create a Data Frame
ccl_data[["CAND_ID"]]

        CAND_ID
0     C00713602
1     H0AK00105
2     H0AL01055
3     H0AL01063
4     H0AL01071
...         ...
5378  S8WV00143
5379  S8WV00143
5380  S8WV00143
5381  S8WY00189
5382  S8WY00197

[5383 rows x 1 columns]

In [23]:
#Fetch the Linkage 
ccl_data[["LINKAGE_ID"]].head()

   LINKAGE_ID
0      228963
1      229250
2      226125
3      227053
4      227054

In [20]:
#Fetch commitee designations
ccl_data[["CMTE_DSGN"]].head()

  CMTE_DSGN
0         U
1         P
2         P
3         P
4         P

In [25]:
#Reference the candidate, the commitee role and the year of the federal election
ccl_data[["CAND_ID", "CMTE_DSGN", "FEC_ELECTION_YR"]].head()

     CAND_ID CMTE_DSGN  FEC_ELECTION_YR
0  C00713602         U             2020
1  H0AK00105         P             2020
2  H0AL01055         P             2020
3  H0AL01063         P             2020
4  H0AL01071         P             2020

In [26]:
#Count unique value of DESIGNATION column
dsgn_count = ccl_data["CMTE_DSGN"].value_counts()
dsgn_count

P    4823
J     278
A     167
U      97
D      14
B       3
Name: CMTE_DSGN, dtype: int64

In [30]:
#Count unique value of DESIGNATION column
tp_count = ccl_data["CMTE_TP"].value_counts()
tp_count

H    3621
P     746
S     728
N     221
Q      41
Y       9
O       6
X       5
U       5
V       1
Name: CMTE_TP, dtype: int64

In [29]:
#Grouping the candidate by the commitee designation
grouped_ccl = ccl_data.groupby(['CMTE_DSGN'])
grouped_ccl.head()

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID
0,C00713602,2019,2020,C00712851,X,U,228963
1,H0AK00105,2020,2020,C00607515,H,P,229250
2,H0AL01055,2020,2020,C00697789,H,P,226125
3,H0AL01063,2020,2020,C00701557,H,P,227053
4,H0AL01071,2020,2020,C00701409,H,P,227054
5,H0AL01089,2020,2020,C00703066,H,P,227266
11,H0AL02087,2020,2020,C00493783,H,J,222650
20,H0AL05049,2008,2020,C00239038,N,U,222371
28,H0AR01083,2020,2020,C00493783,H,J,222649
35,H0AR03055,2020,2020,C00497149,N,J,222804
71,H0CA03078,2020,2020,C00519900,N,J,222879
75,H0CA04167,2020,2020,C00691790,H,U,224278
88,H0CA08069,2020,2020,C00465914,N,U,222662
112,H0CA15239,2020,2020,C00706713,H,A,227810
123,H0CA19173,2020,2020,C00496018,N,J,223234
265,H0FL01120,2020,2020,C00697458,H,A,226015
272,H0FL04066,2016,2020,C00352849,Q,U,225302
278,H0FL05147,2020,2020,C00723999,H,A,230269
279,H0FL05147,2020,2020,C00698613,H,A,226386
280,H0FL05147,2020,2020,C00724005,N,B,230270
337,H0FL20146,2020,2020,C00714634,H,A,230530
481,H0IL15053,2012,2020,C00350421,N,D,223129
692,H0MO06073,2020,2020,C00410621,Q,D,222453
2023,H6LA04112,2016,2020,C00607374,Q,D,225551
2148,H6OH04082,2020,2020,C00693796,N,D,229109
2237,H6WA06021,2012,2020,C00037606,Q,B,223061
2358,H8CA16065,2018,2020,C00685735,H,D,224851
4241,P00013110,2020,2020,C00715490,P,NaN,228975
4837,S2ND00040,2010,2020,C00143438,N,B,222161